[package]
name = "valitron"
version = "0.0.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "^1.0" }

[dev-dependencies]
serde = { version = "^1.0", features = ["derive"] }
